
<%= turbo_frame_tag dom_id(comment) do %>
  <li><%= simple_format(comment.body) %></li>
  <li class="mb-5">by：<%= comment.user.name %></li>
  <% if current_user&.id == comment.user_id %>
    <div class="flex justify-end space-x-5">
      <%= link_to t('defaults.destroy'), polymorphic_path([@comment.commentable, comment]), class: "js-delete-comment-button px-5 py-2 text-xl font-bold text-white transition-all duration-300 bg-red-500 rounded cursor-pointer hover:bg-red-600", id: "button-delete-#{comment.id}", data: { turbo_method: :delete, turbo_confirm: t('comments.delete_confirm') } %>
    </div>
  <% end %>
<% end %>