<div class="bg-[#f5eace] grow">
<%= render 'shared/header' %>
  <div>
    <div class="container mx-auto">
      <h1 class="secondary-title"><%= t('.title') %></h1>
      <div class="grid grid-cols-1 gap-10 lg:grid-cols-3 md:grid-cols-2 auto-rows-auto place-content-center place-items-center">
        <% if @users.present? %>
          <%= render partial: 'follow_user', collection: @users, as: :user %>
        <% else %>
          <p><%= t('.no_result') %><br>フォローしてみましょう！</p>
        <% end %>
      </div>
    </div>
  </div>
</div>