<header class="container p-4 mx-auto text-end">
  <nav>
    <div class="hidden space-x-12 md:block md:text-end">
      
      <%= link_to "会員登録", new_user_path, class:"hover:text-lime-800 transition-all duration-300" %>
      <%= link_to "ログイン", login_path, class:"hover:text-lime-800 transition-all duration-300 fa-solid fa-right-to-bracket" %>
    </div>
    <div class="md:hidden">
      <i class="transition-all duration-300 fa-solid fa-bars hover:text-lime-800"></i>
    </div>
  </nav>
</header>