<header>
  <nav class="container p-4 mx-auto text-end">
    <div class="block space-x-12 md:text-end">
      <%= link_to t('defaults.register'), new_user_path, class:"hover:text-lime-800 transition-all duration-300" %>
      <%= link_to t('defaults.login'), login_path, class:"hover:text-lime-800 transition-all duration-300 fa-solid fa-right-to-bracket" %>
    </div>
  </nav>
</header>