<footer class="bg-[#5b4744]">
  <div class="container">
    <div class="flex items-center justify-between px-4 md:text-end">
      <%= link_to image_tag("logo-footer.png", size: '75x75'), root_path, class:"inline" %>
      <div>
        <%# <%= link_to t('defaults.contact'), "#", class:"hover:text-lime-800 transition-all duration-300 mr-5 text-white sm:text-base text-sm" %>
        <%= link_to t('defaults.privacy_policy'), "#", class:"hover:text-lime-800 transition-all duration-300 mr-5 text-white sm:text-base text-sm" %>
        <%= link_to t('defaults.terms_of_service'), "#", class: "hover:text-lime-800 transition-all duration-300 text-white sm:text-base text-sm" %>
      </div>
    </div>
  </div>
</footer>