<div class="bg-[#fae7be] grow">
  <div class="flex justify-center">
    <%= image_tag "404error.png" %>
  </div>
  <%= link_to "<<< トップページへ", root_path, class: "sm:text-xl ml-10 font-bold hover:underline" %>
</div>